
<div id="questions">
  <h3>Top questions</h3>
  <ul>
  <% @questions.each do |question| %>
    <li>
     <span><%= question.votes.count%> votes</span><span><%= question.answers.count%> answers</span><%= link_to question.title , question %></br>
     <%= link_to "vote!", new_vote_path(:parent => question.class, :id => question.id) %>
         </li>
    <% end %>
  </ul>
  <%= link_to "New Question", new_question_path %>
</div>
