
<div id="questions">
  <h3>Top questions</h3>
  <ul>
  <% @questions.each do |question| %>
    <li>
     <span><%= question.votes.count%> votes</span><span><%= question.answers.count%> answers</span><%= link_to question.title , question %></br>
     <% if question.user.id == session[:user_id] %>

       <%=link_to "delete", question,method: :delete, data: { confirm: "Are you sure?"}, class: "own-buttons" %>
       <%= link_to "edit", edit_question_path(question),  class: "own-buttons" %>
       <% end %>
       <% if question.votes.where(user_id: current_user.id).count == 0 %>
        <%= link_to "like!", new_vote_path(:parent => question.class, :id => question.id), class: "buttons" %>
        <%= link_to "dislike!", new_vote_path(:parent => question.class, :id => question.id), class: "buttons" %>
        <% end %>
         </li>
    <% end %>
  </ul>
  <%= link_to "New Question", new_question_path , class: "make-me-black" %>
</div>
