
<div id="questions">
  <h3>Top questions</h3>
  <ul>
  <% @questions.each do |question| %>
    <li>
     <span><%= pluralize(question.votes.count, "vote") %></span><span><%= pluralize(question.answers.count, "answer") %></span><%= link_to question.title , question %></br>
     <% if question.user.id == session[:user_id] %>

       <%=link_to "delete", question,method: :delete, data: { confirm: "Are you sure?"}, class: "own-buttons" %>
       <%= link_to "edit", edit_question_path(question),  class: "own-buttons" %>
       <% end %>

         </li>
    <% end %>
  </ul>
  <%= link_to "New Question", new_question_path , class: "make-me-black" %>
</div>
