

  <h2><%= @question.title %></h2>
  <p><%= @question.body %></p>
  <%= link_to "edit", edit_question_path(@question) %>
  <% if @question.comments.any? %>
    <ul>
      <% @question.comments.each do |c| %>
        <li><%= link_to c.body %></li>
     <% end %>
    </ul>
    <% end %>
  <%= link_to "comment", new_comment_path(:parent => @question.class, :id => @question.id) %><br>
  <%= link_to "add answer", new_question_answer_path(question_id: @question) %>
  <BR>

  <%= render partial: '/answers/answer', collection: @question.answers %>
